<div class="features">
	<div class="heading">
			<h2>Features</h2>
			<p>Here are Retro Study features
			</p>
		</div>
		<%# Absolute SVG that is displayed on page %>
    <img src="/media/dots.svg" class="dots">
		<%# Cards %>
	<div class="cards">

  <a href="/cam">
		<div class="card">
			<img src="https://www.dictionary.com/e/wp-content/uploads/2018/03/Thinking_Face_Emoji-Emoji-Island.png" alt="">
			<h3> Emotion Camera </h3>
			<p> It's tough for lecturers to assess students' understanding after lectures in an online class. This tool assists the teacher in determining whether the students are glad, unhappy, confused, or distracted. As a result, they may tailor classes to the needs of the students. </p>
     </div> </a>
    


    <a href="/posture">
		<div class="card">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2jPVrtiO3_2pEvSw0uHus7zkaJuBhvkjdbw&usqp=CAU"alt="">
			<h3>Posture Detector</h3>
			<p> The use of computers can lead to them having an unhealthy posture which, being kids, they may not be able to correct as they are not aware of it. This tool help the children to sit in better position.</p>
		</div></a>
    
		<a href="/ttslearning">
		<div class="card">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBLkGAWhlpHUqsN2EWZbS1-wZ2NOfSY9CACRVsNi1Xr9UxGYpTFI4ijPXLgMExUL3Obg4&usqp=CAU" alt="">
			<h3>Speech to text</h3>
			<p> Most of us find it challenging to take notes and learn in an online session. You can speak up your notes and save them here. You'll be able to retrieve it later, and you'll be able to hear the note once more. It also helps children who have difficulty writing. Increased efficiency and less paperwork which helps to save time.</p> 
      
		</div> </a>
		
    <a href="/ar">
		<div class="card">
			<img src="https://www.technicolor.com/sites/default/files/medialib/document/image/news/vrar_unleashed-817x1024.png" alt="">
      <h3>AR Learning </h3>
			<p> AR aids students in gaining a better understanding of ideas. It allows children to visualise things and develop an interest in learning more about them in an entertaining way. Students will be able to learn and memorise information more quickly . </p>
		</div></a>

    <a href="/chat">
		<div class="card">
			<img src="https://images-na.ssl-images-amazon.com/images/I/41EpGHYVvkL.png" alt="">
      <h3>Doubt Chat</h3>
			<p> Here students can ask doubt to teachers regarding the subjects.Reason that students don't speak up in class could be that they don't understand the material and might feel afraid that their questions will make them appear unintelligent to their peers. So, by using doubt chat student can clarify their doubts with their teacher. </p>
		</div></a>
		

   
	</div>
</div>