<section class="hero">
	<%# Absolute SVG that is displayed on page %>
	<img src="/media/topItem.svg" class="topItem" />
		<%# Hero Content %>
		<span class="heroWrap">
			<article>
				<h1>Retro 
        <span	class="headerSecondaryText">Study</span>
        </h1>
				<p>Retro Study revolutionizes education by seamlessly integrating innovative technologies into the learning experience. Key features include 3D visualization for immersive understanding, a real-time Doubt Chat facilitating open communication, an Emotion Camera gauging student emotions for personalized teaching, and Speech to Text Notes for efficient note-taking. These functionalities, guided by well-defined functional requirements, create a dynamic and user-friendly platform for both students and teachers. The project successfully addresses challenges in traditional learning, fostering engagement, understanding, and communication.</p>

				<button class="buttonPrimary">Learn More</button>
			</article>
			<%# Absolute SVG that is displayed on page %>
		<img class="art" src="/media/art.svg" />
		</span>
</section>